<div>
  <div>
    <% if user_signed_in? %>
      <div><%= post.user.username %> wrote:</div>
    <% end %>
    <strong><%= post.title %></strong>
  </div>
  <div>
    <div><%= post.body %></div>
    
  </div>
</div>